{% extends "layout.twig" %}

{% block title %}View Clients{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    
<div class="row gutter-10">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h4>View Clients</h4>
    </div>
</div>

<div class="row gutter-10">
    <div class="col-sm-3 col-md-3 col-lg-3">
        &nbsp;
    </div>
    
    <div class="col-sm-6 col-md-6 col-lg-6">
        {% if count > 0 %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Client Number</th>
                    <th>Pay Plan</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.number }} </td>
                        <td>{{ client.payPlan }}</td>
                        <td>${{ client.amount }}</td>
                        <td><a href="{{ path_for('client.add') }}/{{client.id}}"><button type="submit" class="btn btn-xs btn-form-primary">Edit</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>
            No clients were found.
        </p>
        <br />
        {% endif %}
        
        <a href="{{ path_for('client.add') }}"><button type="submit" class="btn btn-form-primary">Add Client</button></a>
        
    </div>
    
    <div class="col-sm-3 col-md-3 col-lg-3">
        &nbsp;
    </div>
</div>

{% endblock %}